body,
html {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  overflow: hidden;
  font-family: Arial, sans-serif;
}

.background-container {
  /* Puedes usar un color de fondo sólido */
  /* background-color: #5086bb; */
  background: rgb(80, 186, 171);
  background: linear-gradient(45deg, rgba(80, 186, 171, 1) 0%, rgba(95, 80, 186, 1) 50%, rgba(80, 134, 187, 1) 100%);
  /* Color de fondo */

  /* O puedes usar una imagen de fondo */
  /* background-image: url('ruta/a/tu/imagen.jpg'); /* Ruta a tu imagen de fondo */
  /* background-size: cover; */
  /* background-position: center; */

  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

h1 {
  text-align: center;
  /* font-weight: 700; */
  font-size: 48px;
  user-select: none;

}

.main-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 80%;
  max-width: 1200px;
  pointer-events: none;
  gap: 32px;
}

.modules-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 60%;
  gap: 16px;
  background: rgba(255, 255, 255, 0.16);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(1.7px);
  -webkit-backdrop-filter: blur(1.7px);

  pointer-events: none;
  padding: 24px;
}

#modulo1,
#modulo2,
#modulo3 {
  background: rgba(0, 0, 0, 0.6);
  border-radius: 10px;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: fit-content;
  overflow: hidden;
  box-shadow: rgba(17, 12, 46, 0.15) 0px 48px 100px 0px;
  pointer-events: none;
  user-select: none;
}

#slider {
  width: 500px;
  height: 500px;
  overflow: hidden;
  position: relative;
  border-radius: 16px;
  overflow: hidden;
  background: #eaeaea;
}

#slider img {
  width: 100%;
  height: 100%;
  position: absolute;
  opacity: 1;
  transition: 0.5s ease-in-out;
}

.hidden {
  opacity: 0;
}

.turno {
  padding: 24px;
  background: #fff;
}

.modulo {
  padding: 24px;
}